.content{
  max-width: 1200px;
  margin: auto;
}

.main{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
}

.footer{
  background-color:#010069;
  padding: 100px 0;
  font-family: 'Poppins', sans-serif;
  
}
.logo-footer{
  height: 100px;
  width: 100px;
}
.col{
  width: 25%;
  padding: 0 30px;
}

.icones a{
  color:#ffffff;
  font-size: 0.5rem;
  font-weight: 500;
  transition: all .5s ease;
}

p{
  color:#ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  display: block;
  padding: 10px;
}

.col h4{
  font-size: 17px;
  text-transform: capitalize;
  color:white;
  margin-bottom: 25px;
  position: relative;
}
.col h4::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 40px;
  left: 0;
  bottom: -5px;
  background-color:#fff;
}
.col ul li:not(:last-child){
  margin-bottom: 15px;
}
.col ul li a {
  color:#fff;
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  transition: .4s;
}

.col ul li a:hover {
  color:#fff;
  transform: translateX(-10px);
}

.col .social a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  margin: 0 12px 12px 0; 
  color: #0A0862;
  border-radius: 50%;
  transition: .4s;
}

.col .social a:hover{
    transform: scale(1.2);
    color:#0A0862;
    background-color: white;
}

@media (max-width: 770px) {
  .col{
    width: 50%;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .col{
    width: 100%;
  }
}